@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<link href="~/Content/login.css" rel="stylesheet" />
<div class="col-md-offset-2 col-md-8" style="margin-top:150px;color:white">
    <hgroup class="title">
        <h3 style="margin-top:100px">One confirmation letter is already sent to your email. 
        Please check your email to reset your password.</h3>
    </hgroup>
   
</div>
