@{
    ViewBag.Title = "Index";
}
<!--full screen wrapper part-->
<div class="jumbotron" id="box-wrapper" style="margin-bottom:0px">
    <div class="container">
        <div class="row" style="padding-top:200px;padding-bottom:200px">
            <div class="col-md-offset-4 col-md-5">
                <div class="jumbotron transparentBackground">
                    <div id="custom-search-input">

                        <div class="input-group col-md-12">
                            @using (Html.BeginForm("List", "Restaurant", FormMethod.Get, new { @class = "input-group col-md-12" }))
                            {
                                @Html.TextBox("searchby", null, new { @class = "form-control input-lg", placeholder = "Search restaurant here" })

                                <span class="input-group-btn">

                                    <button class="btn btn-default btn-lg" type="submit" id="searchButton" value="searchby">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Website introduction part-->

<div class="content-section-a container">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Finding the food you like<br>All delicious</h2>
                <p class="lead">
                    To know more <a target="_blank" href="/Restaurant/Index">How to search the restaurant</a>
                    Please take a look the web guidline
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">

                <img class="img-responsive" src="~/assets/pageContent/meat.png" alt="">
            </div>
        </div>

    </div>
</div>
<!-- /.content-section-a -->

<div class="content-section-b" style="padding-left:100px;">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Open online restaurant<br>Upload menu</h2>
                <p class="lead"><a target="_blank" href="/Restaurant/Index">Registor as business customer</a> to open your online restaurant showing your cuisines and add new sales channel of Take-out</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="~/assets/pageContent/soup.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Order foods </h2>
                <p class="lead"> Convenient the life using Eat Yo <a target="_blank" href="/Restaurant/Index">Gegistor now </a> that all foods will be delivered to your home </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/assets/pageContent/sushi.png" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>

<div class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h2>Join us to start E-Life:</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/hashtag/MasterChefBR?src=tren&lang=en" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>

                    <li>
                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
