@using RestaurantPhase1beforeAjax1.Models
@model menuDetailmodel
@{
    ViewBag.Title = "Menu";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link href="~/Content/hoverPictureMenu.css" rel="stylesheet" />
  <!-- Page Content -->

<div class="container" style="padding-left:90px;margin-top:70px">
    
        <div class="row">

            <!--Restaurants' category navbar-->
            <div class="col-md-3">
                <p style="font-size:20px;padding-left:20px">@Model.restuarantName.ToUpper()</p>
                <div class="list-group">
                    @foreach (var item in Model.navBarList)
                    {
                        @Ajax.ActionLink(item.CategoryName.ToUpper(), "detailOfeachCategory",
            new { restaurantId = item.RestaurantId, categoryId = item.CategoryId },
            new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "productsContent", InsertionMode = InsertionMode.Replace },
            new { @class = "list-group-item" })

                    }
                </div>
            </div>
        
            <!--End category navbar-->

            <div id="productsContent">

                <div class="col-md-9">

                    <div class="row carousel-holder">

                        <div class="col-md-12">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                                <div class="carousel-inner">

                                    @for (int i = 0; i < Model.detailMenu.Count(); i++)
                                    {
                                        if (i == 0)
                                        {
                                            <div class="item active">
                                                <img class="slide-image" src="~/assets/@Model.detailMenu[i].category.RestaurantId/@Model.detailMenu[i].menu.foodImage" alt="">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="item">
                                                <img class="slide-image" src="~/assets/@Model.detailMenu[i].category.RestaurantId/@Model.detailMenu[i].menu.foodImage" alt="">
                                            </div>
                                        }
                                    }
                               
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>

        
           
                    <div class="row">
                        @foreach (var item in Model.detailMenu)
                        {
                            <div class="col-sm-4 col-lg-4 col-md-4" style="margin-top:20px">
                                <div class="thumbnail" style="height:260px">
                                    <div class="hovereffect" style="height:120px;margin-bottom:20px">
                                        <img class="picture-hover" src="~/assets/@item.category.RestaurantId/@item.menu.foodImage" alt="food picture" style="width:320px;height:120px">
                                   <div class="overlay">
                                       <a href="#" class="info"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                   </div>
                                     </div> 
                                        
                                        
                                        <div class="caption">
                                        <h4 class="pull-right" style="margin-top:0px">$@item.menu.price</h4>
                                        <h4>
                                            <span style="font-size:large;color:darkslateblue">@item.menu.foodName.ToUpper()</span>
                                        </h4>
                                        <p>@item.menu.briefDescription.First().ToString().ToUpper()@item.menu.briefDescription.Substring(1)</p>

                                    </div>
                                    <a class="btn btn-primary" style="bottom:30px;right:20px;position:absolute">+<i class="fa fa-cart-plus fa-lg" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->




